<header class="w3-container w3-theme-d1">
    <h4>Global Coronavirus Info.</h4>
</header>
<div class="w3-theme-l2">
    <div class="w3-container w3-padding-16 w3-margin-bottom w3-margin-top">
        <label>Total Cases:</lable> <span id="total_cases" class="w3-right">0</span><br>
        <label>Total Recovered:</lable> <span id="total_recovered" class="w3-right">0</span><br>
        <label>Total Unresolved:</lable> <span id="total_unresolved" class="w3-right">0</span><br>
        <label>Total Deaths:</lable> <span id="total_deaths" class="w3-right">0</span><br>
        <label>Total New Cases Today:</lable> <span id="total_new_cases_today" class="w3-right">0</span><br>
        <label>Total New Deaths Today:</lable> <span id="total_new_deaths_today" class="w3-right">0</span><br>
        <label>Total Active Cases:</lable> <span id="total_active_cases" class="w3-right">0</span><br>
        <label>Total Serious Cases:</lable> <span id="total_serious_cases" class="w3-right">0</span><br>
        <label>Total Affected Countries:</lable> <span id="total_affected_countries" class="w3-right">0</span><br>
    </div>
</div>
<footer class="w3-container w3-theme-d2">
    <p>Source <a id="source" class="w3-right"></a></p> 
</footer>