<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
            <img src="img/about-virus.jpg">
            <span class="card-title">About</span>
        </div>
        <div class="card-content">
            <p>Version: <span id="total_cases" class="right">Beta</span></p>
            <p>Developer: <span id="total_cases" class="right">John Benedict Santos</span></p>
            <p>Email: <span id="total_cases" class="right">Zbenedictjhon88@gmail.com</span></p>
        </div>
        <div class="card-action">
            Follow me on
          <a href="https://www.facebook.com/zack.santos.3110">Facebook</a> 
          <a id="source"></a>
        </div>
      </div>
    </div>
  </div>